{% extends 'base/base.html' %}
{% block page_content %}
{% load user_profile %}

<!--Details Page-->
<section id="detailsPage">
    <div class="wrapper">

        <div class="foodCover">
            <img src="{{ exercise.image.url }}" alt="Cover Image">
        </div>

        <div class="foodInfo">

            <div class="foodText">
                <h1>Muscle Group: {{ exercise.muscle_group }}</h1>
                {% for e in exercise.exercise.splitlines %}
                    <h2>Exercises: {{ e }} <h2>
                {% endfor %}
                <h1>Sets: {{ exercise.sets }}</h1>
                <h1>Repetitions: {{ exercise.reps }}</h1>
                <h1>Calories burned: {{ exercise.calories_burned }}</h1>



            <div class="actionBtn">
                {% if request.user|has_group:"Administrator" %}
                    <a href="{% url 'edit exercise' exercise.pk %}" class="edit">Edit</a>
                    <a href="{% url 'delete exercise' exercise.pk %}" class="remove">Delete</a>
                {% elif request.user|has_group:"Staff" %}
                    <a href="{% url 'edit exercise' exercise.pk %}" class="edit">Edit</a>
                {% endif %}
            </div>

        </div>
    </div>
    </div>
</section>
{% endblock %}