{% extends 'base/base.html' %}
{% block page_content %}
<!--Edit Page-->
<section id="edit-page" class="editPage">
<form id="edit-form" action="{% url 'edit exercise' exercise.pk %}" method="post">
    <form>
        <fieldset>
            <legend>Edit Exercise</legend>
            <div class="container">
                {% csrf_token %}
                <label>Muscle Group:</label>
                {{ form.muscle_group }}
                <label>1:</label>
                {{ form.exercise }}
                <label>Sets:</label>
                {{ form.sets }}
                <label>Reps:</label>
                {{ form.reps }}
                <label>Calories burned:</label>
                {{ form.calories_burned }}
                <button class="edit-food" type="submit">Edit</button>
            </div>
        </fieldset>
    </form>
    </form>
</section>
{% endblock %}