.wrapper-delete-menu{
    height: 250px;
    width: 600px;
    border-radius: 7px 7px 7px 7px;
    background-color: darkseagreen;
    box-shadow: 0 0 15px 0;
    /*box-shadow: 0 0 1.5px 3px gray;*/
    margin: 30px auto 200px;
}


.wrapper {
    height: 420px;
    width: 1000px;
    border-radius: 7px 7px 7px 7px;
    background-color: #8FBC8F;
    background-image: linear-gradient(150deg, darkseagreen 50%, #809063 100%);
    box-shadow: 0 0 15px 0;
    /*box-shadow: 0 0 1.5px 3px gray;*/
    margin: 30px auto 200px;
}

.foodCover, .profilePage {
    float: left;
    height: 100%;
    width: auto;
    margin-right: 20px;
}

.foodCover img, .profilePage img {
    border-radius: 12px 0 0 7px;
    height: 100%;
}

.foodText, .profileText {
    padding-left: 10px;
    padding-top: 20px;
}

.foodText h1, .profileText h1 {
    color:white;
    font-weight: bolder;
    font-size: 28px;
}

.foodText h3 {
    font-size: 18px;
    color: white;
    letter-spacing: 0.2em;
    margin: 8px 0 0 18px;
}

.foodText h4 {
    margin: 8px 0 10px 18px;
    font-size: 16px;
    color: #9F9991;
    letter-spacing: 0.2em;
}

.foodText h5 {
    margin: 8px 0 10px 14px;
    font-size: 16px;
    color: white;
}

.foodText > p, .profileText > p {
    height: auto;
    width: 100%;
    color: #9F9991;
    line-height: 1.6em;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}
.actionBtnProfile  {
    display: inline-grid;
    text-align: center;
    left: auto;
    top: auto;
    height: auto;
    width: 250px;
    /*line-height: 1.6em;*/
    right: 0;
    bottom: 0;
}
.actionBtnProfile > a {
	width: 100%;
	height: 45px;
	cursor: pointer;
	border: none;
    border-radius: 25px;
	display: inline;
	align-items: center;
	justify-content: center;
	background-color: #98FB98;
	background-image: linear-gradient(315deg, #45a29e 0%, #98FB98 74%);
	background-size: 200% 100%;
	background-position: left;
	background-repeat: no-repeat;
	transition: 500ms;
    color: white;
    font-family: "Lato", serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    margin-right: 50px;
}


.actionBtnProfile > a:hover {
	background-position: right;
}
.actionBtn  {
    display: inline-flex;
    text-align: center;
    left: auto;
    top: auto;
    height: auto;
    width: 350px;
    /*line-height: 1.6em;*/
    right: 0;
    bottom: 0;
}

.actionBtn > a {
	width: 100%;
	height: 45px;
	cursor: pointer;
	border: none;
    border-radius: 25px;
	display: inline;
	align-items: center;
	justify-content: center;
	background-color: #98FB98;
	background-image: linear-gradient(315deg, #45a29e 0%, #98FB98 74%);
	background-size: 200% 100%;
	background-position: left;
	background-repeat: no-repeat;
	transition: 500ms;
    color: white;
    font-family: "Lato", serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    margin-right: 50px;
}


.actionBtn > a:hover {
	background-position: right;
}