{% extends 'base/base.html' %}
{% block page_content %}
    <!--Create Page-->
    <section id="create-page" class="createPage">
        <form id="create-form" action="{% url 'login' %}" method="post">
            <form>
                <fieldset>
                    <legend>Login User</legend>
                    <div class="container">


                        <!-- Form for Adding Album -->
                        {{ form }}
                        {% csrf_token %}

                        <!-- Button for Adding Album -->
                        <button class="add-food" type="submit">Login</button>
                    </div>
                </fieldset>
            </form>
        </form>
    </section>
{% endblock %}