{#{% extends 'base/base.html' %}#}
{#{% block page_content %}#}
{#    <!-- Delete Profile Page-->#}
{#    <section id="detailsPage" class="delete-profile">#}
{#        <form id="delete-form" action="{% url 'logout' %}" method="post">#}
{##}
{#            <div class="wrapper">#}
{#                <div class="profileText">#}
{##}
{#                    <!-- Delete Profile Form -->#}
{#                    <h1>Are you sure you want to Log out?</h1>#}
{#                    <form>#}
{#                        {{ form }}#}
{#                        {% csrf_token %}#}
{#                        <button class="edit-album" type="submit">Yes</button>#}
{#                    </form>#}
{#                </div>#}
{#                <div class="col-lg-3"></div>#}
{#                <a href="{% url 'home' %}">No, go to Home Page!</a>#}
{#            </div>#}
{#        </form>#}
{#    </section>#}
{#{% endblock %}#}