{% extends 'base/base.html' %}
{% block page_content %}
<!--Details Page-->
<section id="detailsPage">
    <div class="wrapper">
            {% if not object.picture %}
                <div class="profilePage">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                     alt="Profile Image">
            {% else %}
                <div class="profilePage">
                <img src="{{ object.picture }}"
                     alt="Profile Image">
            {% endif %}
        </div>

        <div class="profileText">
            <!-- Profile Info -->
            <h1>First Name: {{ object.first_name }}</h1>
            <h1>Last Name: {{ object.last_name }}</h1>
            <h1>Email: {{ object.user.email }}</h1>
        </div>

        <div class="actionBtnProfile">
            <!-- Button for Deleting the Profile -->
{#            <a href="{% url 'delete profile' %}" class="remove">Delete</a>#}
            <a href="{% url 'user edit' object.user.id %}" class="edit">Edit</a>
            <a href="{% url 'change password' object.user.id %}" class="change-password">Change Password</a>
            <a href="{% url 'user delete' object.user.id %}" class="remove">Delete</a>
{#            <a href="{% url 'logout' %}" class="logout">Logout</a>#}
        </div>

    </div>
    </div>
</section>
{% endblock %}